.nav-top{
    padding-top: 3%
}


.trainsched-top{
    padding-top: 5%
}

.route{
    padding-left: 7%;
    padding-top: 4%;
}

.routes{
    padding-left: 10%;
    padding-top: 4%;

}

.routeborder{
    border-style: solid;
}


body{

    /*background-color:blanchedalmond;*/
    background-image: url("../images/trainBackground.jpg");
    /*background-repeat: no-repeat;*/
    background-size: cover;
    /*background-repeat: repeat-x;*/
}