.nav-top{
    padding-top: 3%
}


.trainsched-top{
    padding-top: 5%
}

.route{
    background-color: #d0b795;
}

.routes{
    background-color: #fcf8e3;

}

.routeborder{
    border-style: solid;
}


body{

    /*background-color:blanchedalmond;*/
    background-image: url("../images/trainBackground.jpg");
    /*background-repeat: no-repeat;*/
    background-size: cover;
    /*background-repeat: repeat-x;*/
}

.loaderspinner{
    top:50% ;
    align:center;
    left: 150px;

}